body {
	position: relative;
}

.header {
	position: absolute;
	top: 30px;
	left: 50%;
	z-index: 3;

	transform: translateX(-50%);
}

.header__link-wrap {
	text-align: center;
}

.header__link {
	padding: 0 20px;

	display: inline-block;

	text-decoration: none;
	font-size: 16px;
	font-family: "Philosopher-Italic", cursive;
	color: darkgreen;
	text-transform: uppercase;
	cursor: pointer;
}

.header__link:not(:last-of-type) {
	border-right: 1px dashed green;
}

.btn {
	cursor: pointer;
}

.calendar-header {
	position: relative;

	margin: 0 auto 30px;
	width: 45%;
}

.calendar-header__btn {
	position: absolute;
	bottom: -13px;

	border: none;
	background-color: transparent;
}

.calendar-header__btn:hover,
.calendar-header__btn:focus {
	border: none;
	outline: none;
}

.calendar-header__btn--prev {
	left: 0;
}

.calendar-header__btn--next {
	right: 0;
}

.calendar-header__span {
	display: block;

	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	font-family: 'Arial', 'Verdana', sans-serif;
	text-transform: uppercase;
	color: #364609;
}

.calendar {
	position: relative;

	margin-bottom: 40px;
}

.calendar__table {
	margin: 0 auto;
	width: 70%;
	height: 400px;

	border-collapse: collapse;
	border-spacing: 0;
}

.calendar__row {
	font-size: 18px;
}

.calendar__cell {
	min-width: 60px;
	width: calc(100% / 7);
	min-height: 30px;

	border: 1px solid #505050;
	text-align: center;
	color: #364609;
}

.calendar__cell--header {
	background-color: lightgreen;
}

.task {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	margin: auto;
	padding: 30px;
	width: 40%;
	max-width: 500px;

	background-color: #baff57;
	border: 1px solid green;
	border-radius: 5px;
	box-shadow: 0 0 3px grey;
}

.task__p {
	margin-bottom: 20px;

	font-family: "Ubuntu-BoldItalic", cursive;
	text-transform: uppercase;
	font-size: 14px;
	color: darkgoldenrod;
}

.task__input {
	padding: 10px 10%;
	margin-bottom: 20px;
	width: 80%;

	display: block;

	outline: none;
	border: 1px solid dimgrey;

	font-family: "Philosopher-Italic", cursive;
	font-size: 16px;
	color: darkolivegreen;
}

.task__btn {
	padding: 10px;

	outline: none;
	border: 1px solid #c6c16f;
	border-radius: 3px;
	background-color: palegoldenrod;
	font-family: "Ubuntu-BoldItalic", cursive;
	color: #9c720a;
}

.task__btn:first-of-type {
	margin-right: 20px;
}

.user-tasks-wrap {
	max-height: 70px;

	overflow-y: scroll;
	scroll-behavior: smooth;
}

.user-task {
	position: relative;

	width: 95%;
	margin: auto;
	border-top: 1px solid gray;
	border-collapse: collapse;
}

.user-task__p {
	padding: 5px 10px 5px 5px;
	margin: 0;

	font-size: 11px;
	font-family: "Philosopher-Italic", cursive;
}

.user-task__btn {
	position: absolute;
	top: 0;
	right: 0;

	padding: 0;

	border: none;
	background-color: transparent;
}

.user-task__btn > img {
	width: 10px;
}

.main > div:first-child {
	padding-top: 80px;
}

@font-face {
	font-family: "ElMessiri-SemiBold";
	src: url("fonts/ElMessiri-SemiBold.ttf");
}

@font-face {
	font-family: "Philosopher-Italic";
	src: url("fonts/Philosopher-Italic.ttf");
}

@font-face {
	font-family: "Ubuntu-BoldItalic";
	src: url("fonts/Ubuntu-BoldItalic.ttf");
}